<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student form</title>
</head>
<body>
    <form method="post" action="{% url 'forms' %}" >
        {% csrf_token %}
        <!-- <div>
            <label for="">name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">enrollmentnumber</label>
            <input type="number" name="enrollmentnumber">
        </div>
        <div>
            <label for="">course</label>
            <input type="text" name="course">
        </div>
        <div>
            <label for="">mobile</label>
            <input type="phonenumber" name="mobile">
        </div>
        <div>
            <label for="">email</label>
            <input type="email" name="email">
        </div> -->
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
</body>
</html>